:root {
  --primary-color: #6c63ff;
  --secondary-color: #f8f9fa;
  --background-color: #f5f1fe;
  --font-heading: "Playfair Display", serif;
  --font-text: "Poppins", sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-text);
  background-color: var(--background-color);
}

h1 {
  font-family: var(--font-heading);
  font-size: 80px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* header */
header {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 20px 60px;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 30px;
}

ul li a {
  text-decoration: none;
  color: black;
}

.active {
  color: var(--primary-color);
}

/* main */

.greeting {
  text-align: center;
  margin: 120px auto;
  background-color: var(--background-color);
}

.project {
  background-color: white;
}

.feature {
  text-align: center;
  padding-top: 30px;
}

.content {
  padding: 20px 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
}

img {
  width: 500px;
  display: block;
  margin: 10px auto;
  border-radius: 10px;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
}
